aws_region = "eu-west-1"

aws_profile = ""

project_slug = "transitops"
service_slug = "api"
owner        = "pey"
repository   = "pey-45/TransitOps"

root_domain = ""

availability_zones = [
  "eu-west-1a",
  "eu-west-1b",
]

api_container_port = 8080

tags_override = {}
